Repository TimGroenen/Kwetter-Microservices: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildAuthService, buildProfileService, testAuthService, testProfileService, imageAuthService, imageProfileService

buildAuthService:
  stage: build
  script:
  - cd authService
  - mvn package -Dmaven.test.skip=true

buildProfileService:
  stage: build
  script:
  - cd profileService
  - mvn package -Dmaven.test.skip=true

testAuthService:
  stage: test
  needs:
  - buildAuthService
  dependencies:
  - buildAuthService
  script:
  - cd authService
  - mvn test

testProfileService:
  stage: test
  needs:
  - buildProfileService
  dependencies:
  - buildProfileService
  script:
  - cd profileService
  - mvn test

imageAuthService:
  stage: image
  image: docker:18-dind
  needs:
  - testAuthService
  services:
  - name: docker:18-dind
    alias: thedockerhost
  variables:
    DOCKER_HOST: tcp://thedockerhost:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  script:
  - cd authService
  - docker build . -t timgroenen/kwetterauthservice
  ...

imageProfileService:
  stage: image
  image: docker:18-dind
  needs:
  - testProfileService
  services:
  - name: docker:18-dind
    alias: thedockerhost
  variables:
    DOCKER_HOST: tcp://thedockerhost:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  script:
  - cd profileService
  ...

add docker file
  profileService/Dockerfile
Due: buildProfileService, testProfileService, imageProfileService

Add getByProfileId method
  profileService/src/main/java/com/kwetter/profileService/proto/ProfileService.java
  profileService/src/main/java/com/kwetter/profileService/proto/ProfileServiceGrpc.java
  profileService/src/main/java/com/kwetter/profileService/proto/ProfileServiceOuterClass.java
  profileService/src/main/java/com/kwetter/profileService/repository/ProfileRepository.java
  profileService/src/main/proto/ProfileService.proto
Due: buildProfileService, testProfileService, imageProfileService

add logging to profileservice"
  profileService/src/main/java/com/kwetter/profileService/proto/ProfileService.java
Due: buildProfileService, testProfileService, imageProfileService

Add image support to profileService
  profileService/src/main/java/com/kwetter/profileService/entities/ProfileEntity.java
  profileService/src/main/java/com/kwetter/profileService/proto/ProfileService.java
  profileService/src/main/java/com/kwetter/profileService/proto/ProfileServiceOuterClass.java
  profileService/src/main/proto/ProfileService.proto
  profileService/src/test/java/com/kwetter/profileService/ProfileServiceApplicationTests.java
Due: buildProfileService, testProfileService, imageProfileService

Add image name and type
  profileService/src/main/java/com/kwetter/profileService/entities/ProfileEntity.java
  profileService/src/main/java/com/kwetter/profileService/proto/ProfileServiceOuterClass.java
  profileService/src/main/proto/ProfileService.proto
  profileService/src/test/java/com/kwetter/profileService/ProfileServiceApplicationTests.java
Due: buildProfileService, testProfileService, imageProfileService

Remove image stuff
  profileService/src/main/java/com/kwetter/profileService/entities/ProfileEntity.java
  profileService/src/main/java/com/kwetter/profileService/proto/ProfileService.java
  profileService/src/main/java/com/kwetter/profileService/proto/ProfileServiceOuterClass.java
  profileService/src/main/proto/ProfileService.proto
  profileService/src/test/java/com/kwetter/profileService/ProfileServiceApplicationTests.java
Due: buildProfileService, testProfileService, imageProfileService

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Create project, add dependencies start with proto service MessageService
  messageService/.gitignore
  messageService/.mvn/wrapper/MavenWrapperDownloader.java
  messageService/.mvn/wrapper/maven-wrapper.jar
  messageService/.mvn/wrapper/maven-wrapper.properties
  messageService/mvnw
  messageService/mvnw.cmd
  messageService/pom.xml
  messageService/src/main/java/com/kwetter/messageService/MessageServiceApplication.java
  messageService/src/main/proto/MessageService.proto
  messageService/src/main/resources/application.properties
  messageService/src/test/java/com/kwetter/messageService/MessageServiceApplicationTests.java
Due: none

Setup entities, repos and service
  messageService/src/main/java/com/kwetter/messageService/entities/TweetEntity.java
  messageService/src/main/java/com/kwetter/messageService/entities/TweetLikedEntity.java
  messageService/src/main/java/com/kwetter/messageService/proto/MessageService.java
  messageService/src/main/java/com/kwetter/messageService/proto/MessageServiceGrpc.java
  messageService/src/main/java/com/kwetter/messageService/proto/MessageServiceOuterClass.java
  messageService/src/main/java/com/kwetter/messageService/repositories/TweetLikedRepository.java
  messageService/src/main/java/com/kwetter/messageService/repositories/TweetRepository.java
  messageService/src/main/proto/MessageService.proto
  messageService/src/main/resources/application.properties
Due: none

Add messageService functionality
  messageService/src/main/java/com/kwetter/messageService/entities/TweetEntity.java
  messageService/src/main/java/com/kwetter/messageService/proto/MessageService.java
  messageService/src/main/java/com/kwetter/messageService/proto/MessageServiceOuterClass.java
  messageService/src/main/java/com/kwetter/messageService/repositories/TweetLikedRepository.java
  messageService/src/main/java/com/kwetter/messageService/repositories/TweetRepository.java
  messageService/src/main/proto/MessageService.proto
Due: none

Add docker file
  messageService/Dockerfile
Due: none

Add db connection
  authService/pom.xml
  authService/src/main/resources/application.properties
  authService/src/test/resources/application.properties
  messageService/pom.xml
  messageService/src/main/resources/application.properties
  messageService/src/test/resources/application.properties
  profileService/pom.xml
  profileService/src/main/resources/application.properties
  profileService/src/test/resources/application.properties
Due: buildAuthService, buildProfileService, testAuthService, testProfileService, imageAuthService, imageProfileService

Change driver version
  messageService/pom.xml
  profileService/pom.xml
Due: buildProfileService, testProfileService, imageProfileService

Change dialect
  authService/src/main/resources/application.properties
  messageService/src/main/resources/application.properties
  profileService/src/main/resources/application.properties
Due: buildAuthService, buildProfileService, testAuthService, testProfileService, imageAuthService, imageProfileService

Enable lazy loading
  profileService/src/main/resources/application.properties
Due: buildProfileService, testProfileService, imageProfileService

enable lazy load, message service
  messageService/src/main/resources/application.properties
Due: none

Create logging service
  loggingService/.gitignore
  loggingService/.mvn/wrapper/MavenWrapperDownloader.java
  loggingService/.mvn/wrapper/maven-wrapper.jar
  loggingService/.mvn/wrapper/maven-wrapper.properties
  loggingService/Dockerfile
  loggingService/mvnw
  loggingService/mvnw.cmd
  loggingService/pom.xml
  loggingService/src/main/java/com/kwetter/loggingService/LoggingServiceApplication.java
  loggingService/src/main/java/com/kwetter/loggingService/kafka/KafkaConsumerConfig.java
  loggingService/src/main/java/com/kwetter/loggingService/kafka/KafkaLoggingListener.java
  loggingService/src/main/java/com/kwetter/loggingService/kafka/KafkaTopicConfig.java
  loggingService/src/main/java/com/kwetter/loggingService/kafka/message/KafkaLoggingMessage.java
  loggingService/src/main/java/com/kwetter/loggingService/kafka/message/KafkaLoggingType.java
  loggingService/src/main/resources/application.properties
  loggingService/src/test/java/com/kwetter/loggingService/LoggingServiceApplicationTests.java
Due: none

Add Kafka logging to AuthService
  authService/pom.xml
  authService/src/main/java/com/kwetter/authService/kafka/KafkaProducerConfig.java
  authService/src/main/java/com/kwetter/authService/kafka/KafkaSender.java
  authService/src/main/java/com/kwetter/authService/kafka/KafkaTopicConfig.java
  authService/src/main/java/com/kwetter/authService/kafka/message/KafkaLoggingMessage.java
  authService/src/main/java/com/kwetter/authService/kafka/message/KafkaLoggingType.java
  authService/src/main/java/com/kwetter/authService/proto/AuthService.java
  authService/src/main/resources/application.properties
  authService/src/test/java/com/kwetter/authService/AuthServiceApplicationTests.java
Due: buildAuthService, testAuthService, imageAuthService

Add kafka logging to profileService
  profileService/pom.xml
  profileService/src/main/java/com/kwetter/profileService/kafka/KafkaProducerConfig.java
  profileService/src/main/java/com/kwetter/profileService/kafka/KafkaSender.java
  profileService/src/main/java/com/kwetter/profileService/kafka/KafkaTopicConfig.java
  profileService/src/main/java/com/kwetter/profileService/kafka/message/KafkaLoggingMessage.java
  profileService/src/main/java/com/kwetter/profileService/kafka/message/KafkaLoggingType.java
  profileService/src/main/java/com/kwetter/profileService/proto/ProfileService.java
  profileService/src/main/resources/application.properties
  profileService/src/test/java/com/kwetter/profileService/ProfileServiceApplicationTests.java
Due: buildProfileService, testProfileService, imageProfileService

Add Kafka logging to messageService
  messageService/pom.xml
  messageService/src/main/java/com/kwetter/messageService/kafka/KafkaProducerConfig.java
  messageService/src/main/java/com/kwetter/messageService/kafka/KafkaSender.java
  messageService/src/main/java/com/kwetter/messageService/kafka/KafkaTopicConfig.java
  messageService/src/main/java/com/kwetter/messageService/kafka/message/KafkaLoggingMessage.java
  messageService/src/main/java/com/kwetter/messageService/kafka/message/KafkaLoggingType.java
  messageService/src/main/java/com/kwetter/messageService/proto/MessageService.java
  messageService/src/main/resources/application.properties
  messageService/src/test/resources/application.properties
Due: none

Change kafka server url
  authService/src/main/resources/application.properties
  authService/src/test/resources/application.properties
  loggingService/src/main/resources/application.properties
  messageService/src/main/resources/application.properties
  profileService/src/main/resources/application.properties
  profileService/src/test/resources/application.properties
Due: buildAuthService, buildProfileService, testAuthService, testProfileService, imageAuthService, imageProfileService

Fix loggingService kafka ip
  loggingService/src/main/resources/application.properties
  loggingService/src/test/java/com/kwetter/loggingService/LoggingServiceTests.java
  loggingService/src/test/resources/application.properties
Due: none

Fix ip
  authService/src/main/resources/application.properties
Due: buildAuthService, testAuthService, imageAuthService

Fix kafka ip
  messageService/src/main/resources/application.properties
Due: none

fix kafka ip
  profileService/src/main/resources/application.properties
Due: buildProfileService, testProfileService, imageProfileService

Edit kafka adress
  authService/src/main/resources/application.properties
  loggingService/src/main/resources/application.properties
  messageService/src/main/resources/application.properties
  profileService/src/main/resources/application.properties
Due: buildAuthService, buildProfileService, testAuthService, testProfileService, imageAuthService, imageProfileService

Fix missing classes error
  authService/pom.xml
  messageService/pom.xml
  profileService/pom.xml
Due: buildAuthService, buildProfileService, testAuthService, testProfileService, imageAuthService, imageProfileService

Update README.md
  README.md
Due: none

Path conditions:
  buildAuthService: any of: authService/**/*
  buildProfileService: any of: profileService/**/*
  testAuthService: any of: authService/**/*
  testProfileService: any of: profileService/**/*
  imageAuthService: any of: authService/**/*
  imageProfileService: any of: profileService/**/*
